

/*GV-BA*/
.box-manage-banner-all{
    width: 100%; 
    display: flex; 
    flex-direction: column; 
   
}
.title-banner-all {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 700;
    text-shadow: 5px 5px 10px gray;
    font-family: Comic Sans, Comic Sans MS, cursive;
}

.box-gridview-banner-all{
    
     border: 1px solid gray;
    border-radius: 10px ; 
    overflow:hidden;
}

